extends layout

block content
    form(action='/recursos/file', method='post', enctype='multipart/form-data')
        label(for='form-title') Título
        input.file-title(type='text', name='title', placeholder='Título')
        br
        label(for='form-author') Autor
        input.file-author(type='text', name='author', placeholder='Autor')
        br
        label(for='form-creationDate') Data de criação
        input.file-creationDate(type='date', name='creationDate')
        br
        label(for='form-type') Tipo
        input.file-type(type='text', name='fileType')
        br
        label(for='form-file') Ficheiro
        input.file(type='file', name='file', placeholder='Ficheiro')
        br
        input(type="button", value='Adicionar mais um ficheiro', id='add-one-file')
        input(type="submit", value='Criar', id='submit-file')
        input(type="reset", value='Limpar')