extends layout

block content
    h1 TPC5 | José Carlos Magalhães | RPCW 21/22 
    h1 Lista de Músicas
    table
        tr
            th Identificador
            th Título
            th Provincia
            th Artista
        each m in musicas
            tr 
                td
                    a(href="/musicas/"+m.id)= m.id
                td= m.tit
                td
                    a(href="/musicas/prov/"+m.prov)= m.prov
                td= m.musico
            tr