extends layout

block content
    h1 Form do XML
    form(action='/recursos/xml', method='post', enctype='multipart/form-data')
        label(for='form-xml') Ficheiro XML
        input.xml(type='file', name='xml', placeholder='xml')
        br
        input(type="submit", value='Criar', id='submit-xml')
        input(type="reset", value='Limpar')